@import "compass/css3";

* {
margin: 0;
padding: 0;

}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}

#wrap {
  margin: 0 auto 30px;
  
}

#regbar {
  height: 67px;
  background: #34495e;
}



h2 {
  padding: 20px;
  color: #ecf0f1;
  text-align: center
}
h3 {
  color: #ecf0f1;
  text-align: right;
  padding-right: 200px;
  background: #34495e;
}
a {
  color: #ecf0f1;
  text-decoration: none;
  
  &:hover {
      color: #1abc9c;
    }
}

nav ul{
  /*background: #05817d;*/
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 5px 5px 5px black;
}
nav a{
  color: white;
  display: block;
  font-size: 10pt;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
  border-right: 1px solid gray;
}
nav a:hover{
  /*background: #2c9595;*/
  background: gray;
}
#container{
  text-align: right;
  padding-right: 50px;
  background-color:#34495e; 
  height: 20px;
}
#navthing{
  border-style: none;
}